<!--
SPDX-FileCopyrightText: OpenTalk GmbH <mail@opentalk.eu>

SPDX-License-Identifier: EUPL-1.2
-->

<!doctype html>
<html lang="en">
  <head>
    <!-- css files -->
    <link rel="preload" as="style" href="/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/fonts.css" />
    <!-- css files -->

    <style>
      .loading-container {
        display: flex;
        background: url('/assets/background.svg') no-repeat;
        background-size: cover;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
      }
      .lds-ring {
        margin: auto;
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
      }
      .lds-ring div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 64px;
        height: 64px;
        margin: 8px;
        border: 4px solid #d1e545;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #d1e545 transparent transparent transparent;
      }
      .lds-ring div:nth-child(1) {
        animation-delay: -0.45s;
      }
      .lds-ring div:nth-child(2) {
        animation-delay: -0.3s;
      }
      .lds-ring div:nth-child(3) {
        animation-delay: -0.15s;
      }
      @keyframes lds-ring {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    </style>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="OpenTalk, a friendly video chat" />
    <link rel="apple-touch-icon" type="image/png" href="/favicon.png" />

    <!-- runtime configuration -->
    <script src="/config.js"></script>

    <!--
      manifest.json provides metadata used when your web app is installed on a
      user's mobile device or desktop. See https://developers.google.com/web/fundamentals/web-app-manifest/
    -->
    <link rel="manifest" href="/manifest.json" />
    <!--
      Only files inside the `public` folder can be referenced from the HTML.

      Unlike "/favicon.ico" or "favicon.ico", "/public/favicon.ico" will
      work correctly both with client-side routing and a non-root public URL.
      Learn how to configure a non-root public URL by running `npm run build`.
    -->
    <title>OpenTalk</title>
    <meta name="version" content="<%= VITE_APP_VERSION %>" />
    <script src="/tflite/tflite.js"></script>
    <script src="/tflite/tflite-simd.js"></script>
  </head>
  <body>
    <noscript>OpenTalk uses JavaScript. Please enable it in your browser.</noscript>
    <div id="root">
      <div class="loading-container">
        <div class="lds-ring">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
    <script type="module" src="/src/index.tsx"></script>
    <!--
      This HTML file is a template.
      If you open it directly in the browser, you will see an empty page.

      You can add webfonts, meta tags, or analytics to this file.
      The build step will place the bundled scripts into the <body> tag.

      To begin the development, run `pnpm install && pnpm start`.
      To create a production bundle, use `pnpm build`.
    -->
  </body>
</html>
